# Secrets & Environment variables
.env

# SQLite Database
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Node dependencies
node_modules/
frontend/node_modules/

# Playwright & OS files
.playwright/
.DS_Store
Thumbs.db
